{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 10
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "no-redclare": "warn",
        "no-unused": "warn"
    }
}